body{
    display:flex;
    flex-direction:column;
}
.container{
    margin: 5rem auto 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 1px 1px 1px 1px ;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
/* .block{
    width:16px;
    height:16px;
} */

.div{
    /* background: #000; */
    transition: all 200ms ease;
}
.div:hover{
    background:yellow;
}
.div2{
    transition: all 200ms ease;
    background: rgb(0, 38, 255);
    /* background: blue; */
}
section{
    display:flex;
    justify-content:space-between;
    width:70%;
    max-width: 500px;
    padding-top: 1rem;
margin:auto}
.btnContainer{
    /* height:3rem; */
    display:grid;
    gap:0.4rem

    /* background: #000; */
    /* overflow:auto;; */
}
.btn{
    background: rgb(85, 83, 83);
    padding:0.6rem;
    border-radius: 3px;
    color: white;
    display: block;
    font-size:1.1rem;
    border-radius: 3px;
    border: none;
    max-width: 100px;
}
.btn:hover{
    transform: scaleX(1.01)
}
.rainbow{
    background: linear-gradient(rgba(255, 0, 120), rgb(255, 60, 0), rgb(223, 172, 5) ,rgb(223, 190, 5));
    color: #333
}
.erase{
    background: rgb(109, 95, 95);
}
.canva{
background: white;
}
input[type="text"]{
    border: 0px;
    text-align: center;
    font-size:1.3rem;
    outline: none;
}
.range{
display:flex;
flex-direction: column;}